{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet">

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}
