<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div>

    <h1 class="text-center" > <a href="{{ path('home') }}" class="text-light">Crypto Epsi </a></h1>

    <a href="{{ path('login') }}" class="float-right text-white btn">Connexion</a>
    <a href="{{ path('app_register') }}" class="float-right text-white btn">Inscription</a>
</div>
<div class="d-flex justify-content-center">

    {% block body %}{% endblock %}
</div>
</body>
</html>
